@import url('https://fonts.googleapis.com/css?family=Montserrat|Work+Sans|Lato|Open+Sans');
* { margin:0; padding:0; box-sizing:border-box; }

#wrapper{
	width: 100%;
	margin: 0 auto;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

body{
	background-color: #fff;
	color: black;
	font-family:'Open Sans', sans-serif;
	font-size: 20px;
	font height: 2em;
}

header{
	clear: both;
    overflow: auto;
    background-color: black;
}
header a{
	background-color: black;
}

nav{
	float: right;
	padding-top: 2em;
}

nav a{
	background-color: #000;
	  color: white;
	  text-decoration: none;
	  font-size: 20px;
	  padding-left: 10px;
	  padding-right: 10px;
	  border-right: 1px solid #ccc;
}

#logo{
	float: left;
}



nav a:hover{
	color: blue;
}

#hero{
	background: url("../images/image_asset1.jpg");
	background-repeat: no-repeat;
	background-color: #E8C66A; 
	padding: 10px;
	margin: auto;
	height: 800px;
	text-align: center;

}

#hero_text{
	font-weight: 600;
	padding: 80px 0 20px 0;
}

.cta{
	border:3px black solid;
	padding: 10px 20px;
	margin: 0 auto;
	text-decoration: none;
	color: White;
	background-color: black;
}

.cta:hover{
	color: blue;
}

#about{
	background-color:#000;
	padding: 20px;
	color: #ccc;
	text-align: center;
}

#info{
	width: 100%;
	margin: 0, auto;
	background-color: #ccc;
}


#info div{
	background-color:#ccc;
	padding-right: 200px;
	width: 62%;
	float: right;
	margin: 0 0 0 30px;
	text-align: center
	color: white;
	display: block;
	overflow: auto;
}

#info div img{
	float: left;
	width: 45%;
	height: 45%;
	margin: 0 auto;
	padding-right: 100px;
}

#info div p{
	padding-left: 400px
}



#reviews{
	background-color:#000;
	border: 1px black solid;
	padding: 20px;
	display: inline-block;

}

#reviews p{
	text-align: center;
	color: #ccc;
}

#facebook_1{
	float: right;
	padding-right: 400px;

}

#facebook_2{
	float: left;
}

#events{
	background-color:#ccc;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
}

.events{
	padding:20px;
	width: 100px;
	height:80px;
	border:3px solid #000;
	color: #000;
	margin: 20px;
	display: inline-block;
	box-shadow: 3px 3px 3px #000;
}

/*#scheduling{
	border: 1px black solid;
	padding: 20px;
	display: block;
	float: right;
}
*/
#contact{
	border: 1px black;
	padding: 20px;
	background-color: #000;
	overflow: auto;
	color: #ccc;
}

/*#google_maps{
	display: inline-block;
	text-align: center;
	background-color:#FFC675;
	border: 1px black solid;
	padding: 20px;

}*/

#contact_info{
	border: 1px #ccc solid;
	padding: 20px;
	margin: 0 auto;
	display: inline-block;
	float: right;
}

#partners{
	background-color: #ccc;
}
#img_main{
	height:100px;
}

footer{
	background-color:#000;
	border: 1px black solid;
	padding: 20px;
}

footer p{
	color: white;
}

.sm_icon{

}


/*INDIVIDUAL ELEMENTS*/


