@import url('https://fonts.googleapis.com/css?family=Montserrat|Work+Sans|Lato|Open+Sans');

/*#wrapper{
	width: 960px;
	margin: 0 auto;
}*/

body{
	background-color: #fff;
	color: black;
	font-family:'Open Sans', sans-serif;
	font-size: 20px;
	font height: 2em;
}

header{
	clear: both;
    overflow: auto;
}

nav{
	background-color: #000;
}

nav a{
	background-color: #000;
	  color: white;
	  text-decoration: none;
	  font-size: 25px;
	  display: block;
	  float: right;
	  padding: 20px;
}

#logo{
	float: left;
}


.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

nav a:hover{
	color: blue;
}

#hero{
	background: url("../images/image_asset1.jpg");
	background-repeat: no-repeat;
	background-color: #E8C66A; 
	padding: 20px;
	border: 1px black solid;
	margin: auto;
	height: 800px;
	text-align: center;

}

#hero_text{
	font-weight: 600;
}

.cta{
	border:3px black solid;
	padding: 10px 20px;
	margin: 0 auto;
	text-decoration: none;
	color: White;
	background-color: black;
}

#about{
	background-color:#ccc;
	border: 1px black solid;
	padding: 20px;
}

#info{
	background-color: #000 ;
	border: 1px black solid;
	padding: 20px;
}

.image_set1 {
	height:400px;
	width: 400px;
	margin: auto;
	border: 1px black solid;
	padding: 20px;
	background-color: #FFC675;

}

article{
	background-color:#aaa;
	border: 1px black solid;
	padding: 20px;
	width: 560px;
	float: right;
	margin: 0 0 0 30px;
	display: inline-block;
}

aside{
	margin: 0 0 0 20px;
	width: 240px;
	clear: both;
}

#reviews{
	background-color:#ccc;
	border: 1px black solid;
	padding: 20px;
}

#reviews p{
	text-align: center;
}

#facebook_1{

}

#facebook_2{

}

#events{
	background-color:#000;
	border: 1px black solid;
	padding: 20px;
	color:#ccc;
}

.events{
	padding:20px;
	width: 100px;
	height:80px;
	border:3px solid #ccc;
	color: #ccc;
	margin: 20px;
	text-align:center;
	display: inline-block;
	box-shadow: 3px 3px 3px #fff;
}

/*#scheduling{
	border: 1px black solid;
	padding: 20px;
	display: block;
	float: right;
}
*/
#contact{
	border: 1px black;
	padding: 20px;
	background-color: #ccc;
}

/*#google_maps{
	display: inline-block;
	text-align: center;
	background-color:#FFC675;
	border: 1px black solid;
	padding: 20px;

}*/

#contact_info{
	background-color:#E89C6C;
	border: 1px black solid;
	padding: 20px;
	margin: 0 auto;
	display: inline-block;
	float: center
}

#img_main{
	height:100px;
}

footer{
	background-color:#000;
	border: 1px black solid;
	padding: 20px;
}

footer p{
	color: white;
}

.sm_icon{

}


/*INDIVIDUAL ELEMENTS*/


